
    <!--======== About Section ========-->
    <div class="breadcumb-wrapper" data-bg-src="./assets/assets/img/bg/breadcrumb-bg-1.jpg">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Welcome to our platform!</h1>
                <p class="breadcumb-description">As a psychiatrist, gain access to our Psychiatre Space to collaborate and innovate in mental health care. If you are an association leader, explore our Association Space for networking and resources. For parents of autistic children seeking to improve their well-being, discover our Patient Space.</p>
            </div>
        </div>
    </div>

    <section class="service-section space">
        <div class="container">
            <div class="row gy-30">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-box" data-overlay="title" data-opacity="6">
                        <div class="service-img">
                            <img src="./assets/assets/img/service/s-1.jpg" alt="service">
                        </div>
                        <div class="service-content">
                            <div class="service-icon">
                                <img src="./assets/assets/img/icon/sr-1.png" alt="icon">
                            </div>
                            <h3 class="service-title"><a href="service-details.html">Patient Space</a></h3>
                            <p class="service-text">Welcome to our Patient Space, a supportive hub tailored for patients seeking guidance and resources to navigate the challenges of raising an autistic child. Explore expert advice, community support, and specialized tools to help you provide the best care and support for your child's unique needs</p>
                            <a class="vs-btn style-2" (click)="patientNotification()">Start</a>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-box" data-overlay="title" data-opacity="6">
                        <div class="service-img">
                            <img src="../../assets/assets/img/event/e-5.jpg" alt="service">
                        </div>
                        <div class="service-content">
                            <div class="service-icon">
                                <img src="./assets/assets/img/icon/sr-2.png" alt="icon">
                            </div>
                            <h3 class="service-title"><a href="service-details.html">Psychiatrist Space</a></h3>
                            <p class="service-text">Welcome to our Psychiatrist Space, a dynamic platform designed for psychiatrists and mental health professionals. Join our community to collaborate, share insights, and stay updated on the latest advancements in psychiatry. Access a wealth of resources, engage in interdisciplinary discussions, and foster innovation in mental health care.</p>
                            <a class="vs-btn style-2" (click)=" psyNotification()">Start</a>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-box" data-overlay="title" data-opacity="6">
                        <div class="service-img">
                            <img src="./assets/assets/img/service/s-3.jpg" alt="service">
                        </div>
                        <div class="service-content">
                            <div class="service-icon">
                                <img src="./assets/assets/img/icon/sr-3.png" alt="icon">
                            </div>
                            <h3 class="service-title"><a href="service-details.html">Association Space</a></h3>
                            <p class="service-text">Welcome to our Association Space, a dedicated platform for leaders and members of associations focused on autism and mental health. Connect with like-minded individuals, share best practices, and access valuable resources to strengthen your association's mission and impact. Expand your network, and make a difference in the lives of individuals and families affected by autism.</p>
                            <a class="vs-btn style-2" (click)="associationNotification()">Start</a>
                        </div>
                    </div>
                </div>
              