<section class="contact-section space-page">
    <div class="container">
        <div class="row gx-50 gy-30">
            <div class="col-lg-5 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="contact-form-box">
                    <h2 class="contact-title">Leave a Message</h2>
                    <p class="mb-35">Intrinsicly reinvent fully tested portals and performance based scenarios. Phosfluorescently exploit extensive opportunities for future.</p>
                    <form action="https://html.vecurosoft.com/knirpse/demo/./assets/assets/mail.php" method="POST" class="contact-form ajax-contact">
                        <div class="row">
                            <div class="form-group col-12">
                                <label for="date" class="form-label">Date du rendez-vous*</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="David Smith..." required>
                            </div>
                            <div class="form-group col-12">
                                <label for="heure" class="form-label">heure  du rendez-vous**</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="David Smith..." required>
                            </div>
                            <div class="form-group col-12">
                                <label for="email" class="form-label">Votre adresse*</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="info@example.com" required>
                            </div>
                            <div class="form-group col-12">
                                <label for="message" class="form-label">Votre mail*</label>
                                <textarea class="form-control" name="message" id="message" placeholder="Describe Your Opinion" required></textarea>
                            </div>
                            <div class="form-group col-12">
                                <label for="email" class="form-label">Age*</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="info@example.com" required>
                            </div>
                            <div class="form-group col-12">
                                <label for="message" class="form-label">Date de naissance*</label>
                                <textarea class="form-control" name="message" id="message" placeholder="Describe Your Opinion" required></textarea>
                            </div>
                            <div class="form-group col-12">
                                <label for="email" class="form-label">genre*</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="info@example.com" required>
                            </div>
                            <div class="form-group col-12">
                                <label for="message" class="form-label">typemaladie*</label>
                                <textarea class="form-control" name="message" id="message" placeholder="Describe Your Opinion" required></textarea>
                            </div>
                            <div class="form-group col-12">
                                <label for="email" class="form-label">Votre numero de tel*</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="info@example.com" required>
                            </div>
                            <div class="form-group col-12">
                                <label for="message" class="form-label">Description*</label>
                                <textarea class="form-control" name="message" id="message" placeholder="Describe Your Opinion" required></textarea>
                            </div>
                            <div class="form-group col-12">
                                <button type="submit" class="vs-btn wave-btn">Send Now</button>
                            </div>
                        </div>
                        <p class="form-messages mb-0 mt-3"></p>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
<!--======== / Contact Us Section ========-->
