 <!-- Side menu start -->
 <div class="sidemenu-wrapper">
  <div class="sidemenu-content">
      <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
      <div class="widget footer-widget">
          <div class="vs-widget-about">
              <div class="about-logo">
                  <a href="index.html">
                      <img src="assets/img/logo.svg" alt="Knirpse">
                  </a>
              </div>
              <p class="about-text">Eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum ultrice gravida isus commodo viverra.</p>
              <div class="multi-social">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-pinterest-p"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>
      </div>

      <div class="widget footer-widget">
          <h3 class="widget_title">Contact Us</h3>
          <div class="vs-widget-contact">
              <p class="footer-info"><i class="fas fa-map-marker-alt"></i>256 Lonely Street Ave, Brooklyn CA, United State</p>
              <p class="footer-info"><i class="fas fa-envelope"></i><a href="mailto:info@Knirpseteam.com">infochaima.com</a></p>
              <p class="footer-info"><i class="fas fa-phone-alt"></i><a href="tel:+25631562156236">+256 (3156) 2156 236</a></p>
          </div>
      </div>

      <div class="widget footer-widget">
          <h4 class="widget_title">News Feed</h4>
          <div class="recent-post-wrap">
              <div class="recent-post">
                  <div class="media-img">
                      <a href="blog-details.html"><img src="assets/img/blog/blog-thumb-1.jpg" alt="Blog Image"></a>
                  </div>
                  <div class="media-body">
                      <div class="recent-post-meta"><a href="blog.html"><i class="fal fa-calendar-alt"></i> 25th March, 2023</a></div>
                      <h4 class="post-title"><a href="blog-details.html">User’s Pepare Using Story Guide Yes</a></h4>
                  </div>
              </div>
              <div class="recent-post">
                  <div class="media-img">
                      <a href="blog-details.html"><img src="assets/img/blog/blog-thumb-2.jpg" alt="Blog Image"></a>
                  </div>
                  <div class="media-body">
                      <div class="recent-post-meta"><a href="blog.html"><i class="fal fa-calendar-alt"></i> 25th March, 2023</a></div>
                      <h4 class="post-title"><a href="blog-details.html">How to prepare child for examination</a></h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Side menu end -->
<!--vs-mobile-menu start-->
<div class="vs-menu-wrapper">
  <div class="vs-menu-area">
      <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
      <div class="mobile-logo">
          <a href="index.html"><img src="assets/img/logo.svg" alt="Knirpse"></a>
      </div>
      <div class="vs-mobile-menu">
          <ul>
              <li class="menu-item-has-children">
                  <a href="index.html">Home</a>
                  <ul class="sub-menu">
                      <li><a href="index.html">Home One</a></li>
                      <li><a href="index-2.html">Home Two</a></li>

                      <li><a href="index-3.html">Home Three</a></li>
                      <li><a href="index-4.html">Home Four</a></li>
                  </ul>
              </li>
              <li class="menu-item-has-children">
                  <a href="#">Classes</a>
                  <ul class="sub-menu">
                      <li><a href="classes.html">Classes</a></li>
                      <li><a href="class-details.html">Class Details</a></li>
                  </ul>
              </li>
              <li><a href="about.html">About</a></li>
              <li class="menu-item-has-children">
                  <a href="#">Pages</a>
                  <ul class="sub-menu">
                      <li><a href="event.html">Event</a></li>
                      <li><a href="event-details.html">Event Details</a></li>
                      <li><a href="gallery.html">Gallery</a></li>
                      <li><a href="team-details.html">Team Details</a></li>
                      <li><a href="service.html">Services</a></li>
                      <li><a href="service-details.html">Services Details</a></li>
                      <li><a href="shop.html">Shop</a></li>
                      <li><a href="shop-with-sidebar.html">Shop Sidebar</a></li>
                      <li><a href="shop-details.html">Shop Details</a></li>
                      <li><a href="cart.html">Shopping Cart</a></li>
                      <li><a href="checkout.html">Checkout</a></li>
                      <li><a href="wishlist.html">Wishlist</a></li>
                      <li><a href="error.html">Error Page</a></li>
                  </ul>
              </li>
              <li class="menu-item-has-children">
                  <a href="#">Blog</a>
                  <ul class="sub-menu">
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="blog-details.html">Blog Details</a></li>
                  </ul>
              </li>
              <li>
                  <a href="contact.html">Contact</a>
              </li>
          </ul>
      </div><!-- Menu Will Append With Javascript -->
  </div>
</div>
<!--vs-mobile-menu end-->
