
    <!--======== About Section ========-->
    <div class="breadcumb-wrapper" data-bg-src="./assets/assets/img/bg/breadcrumb-bg-1.jpg">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Services</h1>
                <ul class="breadcumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Services</li>
                </ul>
            </div>
        </div>
    </div>
    <!--======== / About Section ========-->

    <!--======== Service Section ========-->
    <section class="service-section space">
        <div class="container">
            <div class="row gy-30">
                <!-- Single Item -->
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-box" data-overlay="title" data-opacity="6">
                        <div class="service-img">
                            <img src="./assets/assets/img/service/s-1.jpg" alt="service">
                        </div>
                        <div class="service-content">
                            <div class="service-icon">
                                <img src="./assets/assets/img/icon/sr-1.png" alt="icon">
                            </div>
                            <h3 class="service-title"><a href="service-details.html">Summer Camp</a></h3>
                            <p class="service-text">Dynamically benchmark seamless growth strategies via multidisciplinary initiatives. Credibly brand collaborative.</p>
                            <a href="service-details.html" class="vs-btn style-2">See Details</a>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-box" data-overlay="title" data-opacity="6">
                        <div class="service-img">
                            <img src="./assets/assets/img/service/s-2.jpg" alt="service">
                        </div>
                        <div class="service-content">
                            <div class="service-icon">
                                <img src="./assets/assets/img/icon/sr-2.png" alt="icon">
                            </div>
                            <h3 class="service-title"><a href="service-details.html">Daycare Service</a></h3>
                            <p class="service-text">Dynamically benchmark seamless growth strategies via multidisciplinary initiatives. Credibly brand collaborative.</p>
                            <a href="service-details.html" class="vs-btn style-2">See Details</a>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-box" data-overlay="title" data-opacity="6">
                        <div class="service-img">
                            <img src="./assets/assets/img/service/s-3.jpg" alt="service">
                        </div>
                        <div class="service-content">
                            <div class="service-icon">
                                <img src="./assets/assets/img/icon/sr-3.png" alt="icon">
                            </div>
                            <h3 class="service-title"><a href="service-details.html">Online Classes</a></h3>
                            <p class="service-text">Dynamically benchmark seamless growth strategies via multidisciplinary initiatives. Credibly brand collaborative.</p>
                            <a href="service-details.html" class="vs-btn style-2">See Details</a>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-box" data-overlay="title" data-opacity="6">
                        <div class="service-img">
                            <img src="./assets/assets/img/service/s-4.jpg" alt="service">
                        </div>
                        <div class="service-content">
                            <div class="service-icon">
                                <img src="./assets/assets/img/icon/sr-4.png" alt="icon">
                            </div>
                            <h3 class="service-title"><a href="service-details.html">Digital Learning</a></h3>
                            <p class="service-text">Dynamically benchmark seamless growth strategies via multidisciplinary initiatives. Credibly brand collaborative.</p>
                            <a href="service-details.html" class="vs-btn style-2">See Details</a>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-box" data-overlay="title" data-opacity="6">
                        <div class="service-img">
                            <img src="./assets/assets/img/service/s-5.jpg" alt="service">
                        </div>
                        <div class="service-content">
                            <div class="service-icon">
                                <img src="./assets/assets/img/icon/sr-5.png" alt="icon">
                            </div>
                            <h3 class="service-title"><a href="service-details.html">Childcare Service</a></h3>
                            <p class="service-text">Dynamically benchmark seamless growth strategies via multidisciplinary initiatives. Credibly brand collaborative.</p>
                            <a href="service-details.html" class="vs-btn style-2">See Details</a>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-box" data-overlay="title" data-opacity="6">
                        <div class="service-img">
                            <img src="./assets/assets/img/service/s-6.jpg" alt="service">
                        </div>
                        <div class="service-content">
                            <div class="service-icon">
                                <img src="./assets/assets/img/icon/sr-6.png" alt="icon">
                            </div>
                            <h3 class="service-title"><a href="service-details.html">Home Tutor</a></h3>
                            <p class="service-text">Dynamically benchmark seamless growth strategies via multidisciplinary initiatives. Credibly brand collaborative.</p>
                            <a href="service-details.html" class="vs-btn style-2">See Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--======== / Service Section ========-->

    <!--======== CTA Section ========-->
    <section class="cta-section space-shape-plus" data-bg-src="./assets/assets/img/bg/cta-4.jpg" data-opacity="8" data-overlay="custom">
        <div class="container text-center z-index-common">
            <div class="title-area mb-35 wow fadeInUp" data-wow-delay="0.1s">
                <span class="sub-title text-white">Join Our New Session</span>
                <h2 class="sec-title text-white">Call To Enroll Your Child <a class="d-block text-inherit" href="tel:+25621582222">256 2158 2222</a></h2>
            </div>
            <a href="about.html" class="vs-btn wave-btn">Learn More</a>
        </div>
        <div class="section-before style-2"><img src="./assets/assets/img/shape/main-shape-before.png" alt="shape"></div>
        <div class="section-after style-2"><img src="./assets/assets/img/shape/main-shape-after.png" alt="shape"></div>
    </section>
    <!--======== / CTA Section ========-->

    <!--======== Simple Section ========-->
    <section class="mockup1 space-extra-top" data-bg-src="./assets/assets/img/bg/bg_2.png">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 text-center wow fadeInUp" data-wow-delay="0.1s">
                    <img class="mb-70" src="./assets/assets/img/icon/mail-big-icon.png" alt="icon">
                    <h2 class="h1">Enrollment Is Now Going On</h2>
                    <p class="mb-35">Intrinsicly e-enable flexible opportunities with business networks. Continually evolve efficient leadership skills with ubiquitous content. Rapidiously disintermediate performance based markets for multidisciplinary methodologies. </p>
                    <a href="contact.html" class="vs-btn wave-btn">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
    <!--======== / Simple Section ========-->

