
    <!--======== About Section ========-->
    <div class="breadcumb-wrapper" data-bg-src="./assets/assets/img/bg/breadcrumb-bg-smoke.jpg">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Event</h1>
                <ul class="breadcumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Event</li>
                </ul>
            </div>
        </div>
    </div>
    <!--======== / About Section ========-->

    <!--======== Event Section ========-->
    <section class="event-section bg-smoke space-page">
        <div class="container">
            <div class="row gy-70">
                <!-- Single Event -->
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="event-box">
                        <div class="event-img">
                            <a href="event-details.html">
                                <img src="./assets/assets/img/event/e-1.jpg" alt="event">
                            </a>
                        </div>
                        <div class="event-content">
                            <span class="event-date">25 Oct</span>
                            <h4 class="event-title"><a href="event-details.html">Happy Halloween</a></h4>
                            <ul class="event-info">
                                <li><i class="fal fa-clock"></i>Nov 25 - Dec 5. Time: 12:00pm - 5:00pm</li>
                                <li><i class="fal fa-map-marker-alt"></i>New York 242 Dancing Street Lolion</li>
                            </ul>
                            <a href="event-details.html" class="link-btn">More Details <i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Single Event -->
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="event-box">
                        <div class="event-img">
                            <a href="event-details.html">
                                <img src="./assets/assets/img/event/e-2.jpg" alt="event">
                            </a>
                        </div>
                        <div class="event-content">
                            <span class="event-date">25 Jan</span>
                            <h4 class="event-title"><a href="event-details.html">Mother’s Day Event</a></h4>
                            <ul class="event-info">
                                <li><i class="fal fa-clock"></i>Nov 25 - Dec 5. Time: 12:00pm - 5:00pm</li>
                                <li><i class="fal fa-map-marker-alt"></i>New York 242 Dancing Street Lolion</li>
                            </ul>
                            <a href="event-details.html" class="link-btn">More Details <i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Single Event -->
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="event-box">
                        <div class="event-img">
                            <a href="event-details.html">
                                <img src="./assets/assets/img/event/e-3.jpg" alt="event">
                            </a>
                        </div>
                        <div class="event-content">
                            <span class="event-date">25 Dec</span>
                            <h4 class="event-title"><a href="event-details.html">Kids Drawing Event</a></h4>
                            <ul class="event-info">
                                <li><i class="fal fa-clock"></i>Nov 25 - Dec 5. Time: 12:00pm - 5:00pm</li>
                                <li><i class="fal fa-map-marker-alt"></i>New York 242 Dancing Street Lolion</li>
                            </ul>
                            <a href="event-details.html" class="link-btn">More Details <i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Single Event -->
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="event-box">
                        <div class="event-img">
                            <a href="event-details.html">
                                <img src="./assets/assets/img/event/e-4.jpg" alt="event">
                            </a>
                        </div>
                        <div class="event-content">
                            <span class="event-date">25 Feb</span>
                            <h4 class="event-title"><a href="event-details.html">Father’s Day Event</a></h4>
                            <ul class="event-info">
                                <li><i class="fal fa-clock"></i>Nov 25 - Dec 5. Time: 12:00pm - 5:00pm</li>
                                <li><i class="fal fa-map-marker-alt"></i>New York 242 Dancing Street Lolion</li>
                            </ul>
                            <a href="event-details.html" class="link-btn">More Details <i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Single Event -->
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="event-box">
                        <div class="event-img">
                            <a href="event-details.html">
                                <img src="./assets/assets/img/event/e-5.jpg" alt="event">
                            </a>
                        </div>
                        <div class="event-content">
                            <span class="event-date">20 Mar</span>
                            <h4 class="event-title"><a href="event-details.html">Holiday Events</a></h4>
                            <ul class="event-info">
                                <li><i class="fal fa-clock"></i>Nov 25 - Dec 5. Time: 12:00pm - 5:00pm</li>
                                <li><i class="fal fa-map-marker-alt"></i>New York 242 Dancing Street Lolion</li>
                            </ul>
                            <a href="event-details.html" class="link-btn">More Details <i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Single Event -->
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="event-box">
                        <div class="event-img">
                            <a href="event-details.html">
                                <img src="./assets/assets/img/event/e-6.jpg" alt="event">
                            </a>
                        </div>
                        <div class="event-content">
                            <span class="event-date">26 Mar</span>
                            <h4 class="event-title"><a href="event-details.html">Independent Events</a></h4>
                            <ul class="event-info">
                                <li><i class="fal fa-clock"></i>Nov 25 - Dec 5. Time: 12:00pm - 5:00pm</li>
                                <li><i class="fal fa-map-marker-alt"></i>New York 242 Dancing Street Lolion</li>
                            </ul>
                            <a href="event-details.html" class="link-btn">More Details <i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--======== / Event Section ========-->
